Repository chriscustaa/Resontinex: changes, and which pre-commit hooks are due for each by the changed paths.
All: fusion-config-validation, fusion-schema-validation, fusion-test-validation

fusion-config-validation:
  name: Validate Fusion Configurations
  entry: python
  args:
  - scripts/validate-fusion-ci.py
  - --check-configs
  language: python
  pass_filenames: false

fusion-schema-validation:
  name: Validate JSON Schemas
  entry: python
  args:
  - -c
  - import json; import sys; [json.load(open(f)) for f in sys.argv[1:]]
  language: python

fusion-test-validation:
  name: Run Critical Tests
  entry: python
  args:
  - tests/run_all_tests.py
  - --quick
  language: python
  pass_filenames: false

Revise and expand README with system overview
  README.md
Due: none

Add CI enhancements, quickstart, and budget tripwire
  .github/workflows/fusion-ci.yml
  .github/workflows/weekly-parameter-tuning.yml
  Makefile
  examples/quickstart/README.md
  examples/quickstart/quickstart_scenario.json
  fusion_ops/__init__.py
  fusion_ops/budget_tripwire.py
  fusion_ops/metrics_controller.py
  pyproject.toml
  resontinex/fusion_resilience.py
  scripts/verify-clean-clone.ps1
  scripts/verify-clean-clone.sh
Due: fusion-schema-validation, fusion-test-validation

Add scenario manager and enhance core modules
  .github/workflows/weekly-parameter-tuning.yml
  README.md
  resontinex/scenario_manager.py
  scripts/circuit_breaker.py
  scripts/runtime_router.py
  scripts/watch_drift.py
Due: fusion-test-validation

Improve budget analysis and validation output formatting
  .ci_cache/ledger_content_hash.txt
  .ci_cache/ledger_version.txt
  .github/workflows/fusion-budget-gates.yml
  fusion_ops/budget_analysis.py
  scripts/fuse-ledger.py
  scripts/validate-fusion-ci.py
  tests/golden/golden_test_framework.py
Due: fusion-test-validation

Release v2.1.0: energy governance, quorum voting, n8n integration
  .github/workflows/fusion-ci.yml
  README.md
  RELEASE_NOTES.md
  docs/governance.md
  examples/README.md
  examples/n8n-simple-v1.3.json
  resontinex.json
  resontinex/__init__.py
Due: fusion-schema-validation, fusion-test-validation

Add technical guides for energy governance and overlays
  docs/energy_governance_technical_guide.md
  docs/overlay_creation_workflow_guide.md
  docs/quorum_voting_systems_guide.md
Due: none

Add comprehensive documentation and initial core modules
  docs/api_reference_guide.md
  docs/configuration_templates_guide.md
  docs/drift_policy_tuning_guide.md
  docs/operational_runbooks.md
  docs/scenario_configuration_guide.md
  docs/troubleshooting_guide.md
  docs/user_tutorials_guide.md
  pyproject.toml
  resontinex/config.py
  resontinex/obs/middleware.py
  resontinex/plugins.py
  resontinex/runtime/api.py
  scripts/collect_configs.py
  scripts/rnx.py
  tests/test_energy_ledger.py
  tests/test_quorum.py
Due: fusion-test-validation

Add CompositeSignal trust scoring module and docs
  README.md
  docs/composite_signal_integration_guide.md
  resontinex/core/composite_signal.py
  tests/core/test_composite_signal.py
Due: fusion-test-validation

Add CompositeTrustGate system with configs and docs
  config/trust_gate_config.yaml
  configs/fusion/trust_gate.yaml
  configs/fusion/trust_gate_development.yaml
  docs/composite_trust_gate_final.md
  docs/composite_trust_gate_integration.md
  docs/implementation_validation_report.md
  resontinex/core/composite_trust_gate.py
  resontinex/trust/__init__.py
  resontinex/trust/composite_trust_gate.py
  resontinex/trust/integration_validation.py
  tests/core/test_composite_trust_gate.py
  tests/trust/__init__.py
  tests/trust/test_composite_trust_gate.py
Due: fusion-config-validation, fusion-test-validation

Update Fusion configs and workflow for local-gguf changes
  .ci_cache/ledger_content_hash.txt
  .ci_cache/ledger_version.txt
  .github/workflows/fusion-budget-gates.yml
  configs/fusion/fusion_overlay.v0.3.txt
  configs/fusion/model_semantics_ledger.v0.1.0.json
Due: fusion-config-validation, fusion-schema-validation

Update docs, CI, and budget analysis encoding; clean deps
  .github/workflows/fusion-budget-gates.yml
  README.md
  fusion_ops/budget_analysis.py
  requirements.txt
Due: none

Enhance composite trust gate with policy and calibration
  resontinex/trust/composite_trust_gate.py
Due: fusion-test-validation

Add observability stack and API documentation
  deploy/observability/dashboards/resontinex-overview.json
  deploy/observability/docker-compose.yml
  deploy/observability/prometheus.yml
  deploy/observability/provisioning/dashboards/dashboards.yml
  deploy/observability/provisioning/datasources/datasources.yml
  docs/api/index.html
  docs/api/resontinex.html
  docs/api/resontinex_governance.html
  docs/api/resontinex_governance/energy.html
  docs/api/resontinex_governance/quorum.html
  docs/api/search.js
  examples/golden_scenario.py
  mkdocs.yml
  pyproject.toml
  resontinex/__init__.py
  resontinex/config.py
  resontinex/core/__init__.py
  resontinex/obs/__init__.py
  resontinex/obs/middleware.py
  resontinex/plugins.py
  resontinex/runtime/__init__.py
  resontinex_governance/__init__.py
  resontinex_governance/energy.py
  resontinex_governance/quorum.py
  scripts/gen_architecture.py
  scripts/gen_docs.py
  tests/test_integration.py
Due: fusion-schema-validation, fusion-test-validation

Add metrics validation and enhance budget analysis
  fusion_ops/__init__.py
  fusion_ops/budget_analysis.py
  fusion_ops/metrics_validation.py
  fusion_ops/performance_comparison.py
  resontinex/core/__init__.py
  resontinex/obs/__init__.py
  resontinex/runtime/__init__.py
  scripts/evaluate-fusion.py
  scripts/validate-fusion-ci.py
Due: fusion-test-validation

chore: weekly parameter optimization 2025-08-24
  configs/fusion/overlay_params.json
  optimization-results/parameter-optimization.json
Due: fusion-config-validation, fusion-schema-validation

Path conditions:
  fusion-config-validation: any of: ^configs/fusion/.*\.(yaml|json)$
  fusion-schema-validation: any of: \.json$ and \.json$
  fusion-test-validation: any of: ^(resontinex/|scripts/|tests/).*\.py$
